logged in!
Hello 
=current_user.email
.div
=link_to 'log out', logout_path, method: :delete

-if current_user.events.empty?
  %h1 There are no events happening at your locations
-else
  %h1 Events

  %table
    %thead
      %tr
        %th Address
        %th Max distance
        %th
        %th
        %th

    %tbody
      - @user_locations.each do |user_location|
        %tr
          %td= user_location.address
          %td= user_location.max_distance
          %td= link_to 'Edit', edit_user_location_path(user_location)
          %td= link_to 'Destroy', user_location, method: :delete, data: { confirm: 'Are you sure?' }

  %br

= link_to 'My Locations', user_locations_path